<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" type="text/javascript"></script>
        <script src="/assets/js/app.js"></script>
        <title></title>
    </head>
    <body ng-app="TestApp">
        <h1>Hello world!</h1>
        <div ng-controller="MainController as vm">
            <p>{{vm.name}}</p>
            <input type="button" ng-click="vm.get_additional_data()" value="Click me"></input>
        </div>
    </body>
</html>